/* src/styles/footer.css */
.site-footer {
    background-color: #ffffff;
    color: #232323;
    padding: 1rem 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-social {
    margin-bottom: 0.5rem;
  }
  
  .footer-social a {
    color: #d2a264;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #e4a7a0;
  }
  
  .footer-content p {
    margin: 0;
    font-size: 1rem;
  }
  